#
# Lando nginX config
worker_processes  1;

#error_log  logs/error.log;
#error_log  logs/error.log  notice;
#error_log  logs/error.log  info;

events {
  worker_connections  1024;
}

http {

  include       mime.types;
  default_type  application/octet-stream;
  #access_log  logs/access.log  main;
  sendfile        on;
  #tcp_nopush     on;
  #keepalive_timeout  0;
  keepalive_timeout  65;
  #gzip  on;

  server {

    listen 443 ssl;
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name _;

    set $httpc  "http://";
    set $ip "127.0.0.1";
    set $lc "127.0.0.1";

    # redirect server error pages to the static page /50x.html
    error_page   500 502 503 504  /50x.html;
      location = /50x.html {
      root   ${LANDO_WEBROOT};
    }

    location ^~ /api {
      rewrite ^/api/(.*)$ /$1$is_args$args; break;
      proxy_pass "${httpc}${lc}:3001${uri}";
      #try_files $uri $uri/ =404;
    }

    location / {
        # First attempt to serve request as file, then
        # as directory, then fall back to displaying a 404.
        try_files $uri $uri/ =404;
    }
  }

  include servers/*;

}
